QWidget {
    background-color: #EDEDED;
    color: #321052;
    font-family: "Sans Serif", sans-serif;
    font-size: 13px;
}

QWidget#page_3 {
    background-color: transparent;
}

QFrame#theme_frame {
    background-color: rgba(200, 150, 255, 128);
    border-radius: 10px;
}
QWidget#statistics_widget {
    background-color: #831DA3;
    border: 2px solid rgb(170, 85, 255); 
    border-radius: 5px;
}

QWidget#statistics_widget QLabel {
    background-color: transparent; 
    font-family: "Blockletter", sans-serif;
    font-size: 16px;
    color: #FFFFFF; 
}

QWidget#page_3 QPushButton,
QWidget#page_3 QLabel,
QFrame#theme_frame QPushButton,
QFrame#theme_frame QLabel {
    font-family: "Blockletter", sans-serif;
    font-size: 30px;
}

QLabel#theme_label {
    background-color: rgba(60, 15, 80, 100); 
    border: 2px solid rgba(60, 15, 80, 180); 
    border-radius: 5px;
    padding: 6px;
    color: #FFFFFF;
}

QLineEdit {
    background-color: #E0E0E0;
    border: 1px solid #AEAEB0;
    border-radius: 3px;
    padding: 4px;
    color: #321052;
}

QPushButton {
    background-color: qlineargradient(spread:pad, x1:0.495, y1:1, x2:0.493165, y2:0.004, stop:0 rgba(172, 172, 172, 255), stop:1 rgba(200, 200, 200, 255));
    border: 1px solid #3F4A41;
    border-radius: 3px;
    padding: 2px 2px;
    color: #11111b;
    outline: none; 
}

QPushButton:hover {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #AA55FF, stop:1 #831DA3);
    border-color: #D4AAFF;
    color: #FFFFFF;
}

QPushButton:pressed {
    background-color: #5C1175;
    color: #E0E0E0;
}

QPushButton#btn_dark {
    color: #FFFFFF;
}

QSlider::add-page:vertical {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, 
        stop:0 rgba(255, 255, 0, 255),   /* Żółty na górze */
        stop:0.5 rgba(170, 0, 255, 255), /* Fioletowy w środku */
        stop:1 rgba(0, 0, 0, 255));      /* Czarny na dole */
    border-radius: 3px;
}
QSlider::sub-page:vertical {
    background-color: #B8B8BA;
    border-radius: 3px;
}
